<!-- About Page -->

<div class="div-container">
  <!-- <div class="div-nav nav-top white-box">
    <h1 class="text-center">About</h1>
  </div> -->
  <div class="white-box div-box">
    <div class="div-nav black-box">
      <h1 class="text-center">About</h1>
    </div>
  </div>
  <div class="black-box div-box">
    <div class="div-nav white-box">
      <h1 class="text-center">About</h1>
    </div>
  </div>
  <div class="white-box div-box">
    <div class="div-nav black-box">
      <h1 class="text-center">About</h1>
    </div>
  </div>
</div>
