<!-- About Page -->

<div class="div-container">
  <!-- <div class="div-nav nav-top white-box">
    <h1 class="text-center">About</h1>
  </div> -->
  <div class="white-box div-box">
    <div class="div-nav black-box">
      <h1 class="text-center">ABOUT</h1>
    </div>
    <p class="about-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, ante sed pretium hendrerit, ligula libero sollicitudin diam, vitae ultricies risus lorem vitae purus. Curabitur suscipit pulvinar tortor. Vivamus tempor, mi vitae feugiat lobortis, ante nibh ornare risus, ac blandit risus sem viverra dui. Vivamus elementum lobortis nunc. Pellentesque nec molestie nibh, blandit pretium neque. Pellentesque orci justo, congue fringilla tempor ut, sagittis eu risus. Sed eu consectetur dolor. Nunc ut quam nec odio venenatis bibendum vel nec massa. Mauris consequat dui at lectus elementum consectetur. 
    </p>
    <p class="about-text">
      Pellentesque et facilisis lacus. Pellentesque varius dolor sed suscipit egestas. Maecenas convallis vestibulum nisl, vel congue nulla auctor ut. Vivamus ante justo, porta vel ornare suscipit, tempus vitae lacus. Maecenas a est euismod, euismod libero at, vehicula leo. Sed dictum vitae nisi consequat mattis. Duis laoreet ipsum et elit faucibus, ac dictum nulla gravida. Phasellus interdum elit quis quam accumsan lobortis. Fusce rhoncus a erat a elementum. 
    </p>
    <p class="about-text">
      Donec imperdiet sollicitudin nunc vel aliquam. Cras at pulvinar dolor, sed interdum risus. Sed commodo purus sed eros pharetra lacinia. Donec vulputate magna enim, sed mollis felis feugiat vitae. Nulla et lorem sit amet mi mattis tincidunt gravida in mi. Nullam egestas, est id ullamcorper scelerisque, risus velit tempus quam, id commodo nunc risus et elit. Donec massa neque, molestie sed feugiat et, bibendum at ligula. Aenean tincidunt leo libero, nec porta eros viverra sit amet. Fusce sit amet tincidunt leo, sit amet facilisis odio. 
    </p>
  </div>
  <!-- <div class="black-box div-box">
    <div class="div-nav white-box">
      <h1 class="text-center">About</h1>
    </div>
  </div>
  <div class="white-box div-box">
    <div class="div-nav black-box">
      <h1 class="text-center">About</h1>
    </div>
  </div> -->
</div>
