<div class="row row-photo">
<% @photos.where(plant_id: params[:plant_id]).each do |p| %>
    <div class="col-md-2">
      <div class="photo-thumbnail-container">
        <a class="img-responsive thumbnail " href="<%=plant_photo_path(@plant.id, p)%>"><%=image_tag p.image.url, class: "img-upload-thumb" %></a>
      </div>
    </div>
  
<% end %>
</div>

