
<div class="row row-photo">
<% @plant.photos.each do |p| %>
    <div class="col-md-2">
      <div class="photo-thumbnail-container">
        <a class="img-responsive thumbnail " href="<%=plant_photo_path(@plant.id, p, @garden)%>"><%=image_tag p.image.url, class: "img-upload-thumb" if p.image? %></a>
      </div>
    </div>
  <% end %>
</div>



