<div class="welcome"> 
  <div class="container text-center"> 
    <h1 class="title">WELL ROOTED</h1>
    <h3 class="slogan">Plant your roots here</h3>
    <a class="btn btn-submit btn-welcome" href="<%= new_user_path %>">Sign Up</a>
  </div>
</div>
