<div class="welcome"> 
  <div class="container"> 
    <h1>Well Rooted</h1>
    <h3 class="slogan">Plant your roots here</h3>
    <a class="btn btn-success btn-lg" href="<%= new_user_path %>">Sign Up</a>
  </div>
</div>
