<h1 class="page-title">Around Me</h1> 


<div class="row sidebar-row">
</div>
<!--   display all gardens -->

<h3 class="page-title">Recently Planted</h3>
<% @users.each do |user| %>
  <% user.gardens.each do |garden| %>
      <% garden.plants.each do |plant| %>
      <div class="col-md-8" >
  
      <div class="text-row woot">
        <div class="text-centerrow">
          <h1 class="list-all-plant"><%= plant.name %></h1>
          <div class="all-plant-details">Planted by <%= user.first_name %> in their <%= garden.name %>, <%= user.zipcode %> </div>
        </div>
        
      </div>  
    </div>
<% end %>
  <% end %>
<% end %>