<h1 class="page-title">Around Me</h1> 

<h3>Recently Planted</h3>
<ul>
<% @users.each do |user| %>
  <% user.gardens.each do |garden| %>
      <% garden.plants.each do |plant| %>
        <li><%= plant.name %></li>
    <% end %>
  <% end %>
<% end %>
</ul>
