<h1 class="user">Users!!!</h1><hr/>
<ul>
  <% @users.each do |u| %>
    <li>
      <strong><%= u.name =%></strong> -- <%= link_to u.climate.climate, climate_path(u.climate_id) if u.climate %> <%= link_to "Show me more about user!", user_path(u)  %>
    </li>
  <% end %>
  <%= link_to "Sign Up!", users_new_path %>

</ul>
