<h1 class="user">Users!!!</h1><hr/>
<ul>
  <% @users.each do |u| %>
    <li>
      <strong><%= u.name =%></strong> -- <%= u.climate.climate =%> <%= link_to "Show me more about user!", user_path(u)  %>
    </li>
  <% end %>
</ul>
