<h1>Photos</h1>


<% @photos.where(plant_id: params[:plant_id]).each do |p| %>



<div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <%= link_to (image_tag p.image.url), plant_photos_path(p.id), class: "thumbnail img-responsive" %>
    </div>
  </div>
<% end %>

<%= link_to "Add new photo", new_plant_photo_path %>