<h1 class="page-title">Photos <%= link_to "Add new photo", new_plant_photo_path, class: "btn btn-submit" %><%= link_to "Back to Garden", garden_path(@plant.garden), class: "btn btn-warning" %></h1>

<%= render "partials/photoIndex" %>