<div class= "photo-container text-center row">
  <div class="photo col-md-6 col-md-offset-3">
    <%= link_to "(image_tag @plant.image.url)", garden_plant_path(@garden, @plant), class: "thumbnail img-responsive" %>

  </div>

  <div class="photo-text-container col-md-3">
    <div class="photo-text-wrapper">
      <div class="photo-text">
        <h1>
        <%= @photo.image_file_size %>
        <%= @photo.tags unless @photo.tags == nil %>
        </h1>
      </div>
      
    </div>
  </div>
  <a class="btn btn-submit" href="<%= %>">Put function here <br>that calls to add tags<br>(maybe use angular) </a>
</div>