
<h1 class="page-title">Climates</h1>
<ul>
  <% @climates.each do |c| %>
    <% if c.description %>
    <li>
    <%= link_to "Zone: #{c.zone}", climate_path(c) %> 
    </li>
    <% end %> 
  <% end %>
</ul>

