<h1 class="page-title">
  Zone: <%= @climate.zone %>
</h1>

<%= @climate.description %>


<%= link_to "See all climates", climates_path %>
<%= link_to "Back to my profile", user_path(current_user) %>

