/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';


$dkbluecolor: #8B38FF;
$bluecolor: #4DA8E8;
$greencolor: #62FF9E;
$grasscolor: #CBE831;
$orangecolor: #FFBC35;


body {
  font-family: "muli", helvetica, sans-serif;
  margin-top: 100px;
  background: white;
  color: $grasscolor;
  a {
    color: white;
    &:hover,
    &:focus, {
      color: white;
    }
  }
  .page-title {
    margin-left: 10px;
  }
}

.modal {
  color:darken($grasscolor, 40%);
}

.welcome {
  text-align: center;
  margin-top: 200px;
  text-align: center;
  

  .container{
    width: 800px;
  }

  .title {
    font-size: 75px;
    letter-spacing: 10px;
  }
  .slogan {
    font-size: 50px;
    line-height: 80px;
    margin-bottom: 30px;
    font-family:  cursive;
  }
  .btn-welcome {
    width: 250px;
    height: 50px;
    font-size: 22px;
    color: darken($grasscolor, 40%);
      &:hover{
        color: darken($grasscolor, 40%);
      }
  }
}

.signup {
  display: block;

  .btn-variety,
  .notes,
  input,
  select {
    color: darken($grasscolor, 20%);
    font-size: 20px;
    border-radius: 5px;
    height: 50px;
    width: 220px;
    margin: 5px 10px;
    padding: 10px;
    border: none;
  }
  
  .photo-upload {
    width: 400px;
  }
  .btn-variety {
    color: white;
    padding-right: 30px;
    span {
      margin-right: 10px;
    }
  }

  .btn-submit{
  /*  margin: 5px;*/
    width: 220px;
    color: white;
    background-color: darken($grasscolor, 10%);
    span {
      font-size: 18px;
    }
    &:hover {
      background-color: darken($grasscolor, 15%);
    }
  }

  .notes {
    height: 170px;
    /*margin-left: 5px;*/
    margin-bottom: 0px;
  }
}

.btn-submit{
  color: white;
  background-color: darken($grasscolor, 10%);
  margin: 5px;
  width: 220px;

  &:hover {
    color: white;
    background-color: darken($grasscolor, 15%);
  }
}

.photo-container>div {
  /*vertical-align: top;
  max-width: 100%;
  height: auto;
  max-height: 100%;*/
  margin-top: 120px;
  /*margin-right: auto;
  margin-left: auto;
  display: inline-block;
  +.photo-text-wrapper{
    height: 200px;
    max-height: inherit;
  }*/
}

.photo-text-container {
  border: 3px solid white;
  border-radius: 5px;
  padding: 0;
  
}
.photo-text-wrapper {
  height: 200px;
  
  background-color: white;
  opacity: .6;
  width: auto;
  a {
    opacity: 1;
  }
}

.photo-text {
  padding: 20px;
  color: darken($grasscolor, 40%);
}

/*&+.photo-text-wrapper {
  height: inherit;
}*/

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */



.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}
.navbar-inverse>.navbar-header>a:hover,
.navbar-inverse>.navbar-header>a:focus,
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: $grasscolor;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

