/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';


$dkbluecolor: #8B38FF;
$bluecolor: #4DA8E8;
$greencolor: #62FF9E;
$grasscolor: #CBE831;
$orangecolor: #FFBC35;


body {
  margin-top: 60px;
  background: white;
}

.welcome {
  text-align: center;
  margin-top: 200px;
  text-align: center;
  

  .container{
    width: 400px;
  }

  .slogan {
  line-height: 50px;
  font-family: cursive;
  }
}


