// Place all the styles related to the gardens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$dkbluecolor: #8B38FF;
$bluecolor: #4DA8E8;
$greencolor: #62FF9E;
$grasscolor: #CBE831;
$orangecolor: #FFBC35;

body{
  background: url('tomato_close.JPG') no-repeat fixed;
  background-size: cover;
  color: white;
}

.logo {
  margin-right: 10px;
}

.btn-success {
  background-color: darken($grasscolor, 20%);
  border: none;
  &:hover{
    background-color: darken($grasscolor, 40%);
    &:active {
      outline: none;
    }
  }
}


.circle {
  width: 300px;
  height: 300px;
  border: 5px solid white;
  background: darken($grasscolor, 40%) url('sunf.png') -35px 40px no-repeat;
  background-size: 350px;
  border-radius: 5px;
/*  opacity: .6;*/
  margin-top: 60px;
}
.garden-text{
  text-align: center;
 /* margin-left: -25px;*/
  display: block;
  opacity: 1.0;
  padding-top: 0px;
  color: white;
  font-size: 30px;
  .btn-sm {
    margin-top: 178px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    color: lighten($grasscolor, 20%);
  }

  &:hover {
    text-decoration: none;
    color: white;
  }
}

/*.garden_container {
  text-align: center;
}

.garden_box {
  color: white;
  height: 200px;
  width: 350px;
  max-width: 350px;
  background: lighten($grasscolor, 20%) url('sun_60.png') 2px 55px no-repeat;
  background-size: 350px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 50px 20px 30px;

  .garden_title {
    background: darken($grasscolor, 10%);
    margin: 0px -15px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    height: 50px;
    color: white;
    padding-top: 15px;
    -webkit-box-shadow: 0px 5px 5px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 5px -3px rgba(0,0,0,1);
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,1);
    font-size: 18px;
    letter-spacing: 3px;
    
    a{
      font-size: 18px;
      letter-spacing: 3px;
      text-decoration: none;
      color: white;

      &:hover{
        text-decoration: none;
        color: darken($grasscolor, 40%);
      }
    }*/
/*
    div {
      margin-top: 30px;
      margin-left: 10px;
      text-align: left;

      h3 {
        color: darken($grasscolor, 20%); 
        text-align: center;
        font-size: 20px;
      }
      p {
        color: black;
        font-size: 16px;
      }
    }  
  }
}*/

.garden {
  -webkit-box-shadow: 0px 20px 5px -3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 5px 5px -3px rgba(0,0,0,1);
  box-shadow: 0px -3px 10px -3px rgba(0,0,0,1);
  margin-left: -15px;
  margin-top: 150px;
  background: darken($grasscolor, 20%);
  height: 30px;
  width: 350px;
  margin-bottom: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  a{
    margin-top: -8px;
    text-decoration: none;
    color: white;
    &:hover {
      color: darken($grasscolor, 40%);
    }
  }
}
