// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .photo-thumbnail-container {
    height: auto;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
  }
